<div class="row">

<div class="col-md-11 ">
  <div class="row table-container">
    <table class="table">
      <thead>
        <tr style="border-bottom: 2px solid #29ABE2;">
          <th text-align="center" style="color:#0e76bc;font-size: 25px;border-bottom: 2px solid #29ABE2;" colspan="3">
            Network Nodes </th>
        </tr>
        <tr style="color:#29ABE2 !important;font-size: 25px;">
          <th>&nbsp;</th>
          <th>User Name</th>
          <th>Address</th>
          <th>Address</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nodes; let i = index;">
          <td>{{i}} </td>
          <td>{{item?.userName}}</td>
          <td>{{item?.address}}</td>
          <td>{{item?.email}}</td>
          <td>{{item?.type}}</td>

        </tr>
      </tbody>
    </table>

  </div>

</div>

</div>
