<div clas="row main"style="margin-top:5%"> 
    <div class="col-md-4">
        <h2 class="btn btn-primary" routerLink="/pages/renter/main" style="color: white">
            <i class="fas fa-arrow-left"></i>
        </h2>
    </div>
    <div class="col-md-6">
       <h2 style="font-size: 35px;">Upload your File!</h2>
        <div style="height:350px;margin-top: 10%">
            <div *ngIf="error" style="margin-bottom:5%">
        {{ error.message }}
            </div>
             <div *ngIf="uploadResponse.status === 'error'">
        {{ uploadResponse.message }}
             </div>
             <div *ngIf="uploadResponse.status === 'progress'">
    
    
        <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          {{uploadResponse.message}}%
        </div>
    
             </div>
    
             <form  [formGroup]="uplaodForm" (ngSubmit)="onSubmit()">
                <input type="file"class="choose" name="files" (change)="onFileChange($event)" style="margin-bottom:5%"/>
                <button type="submit" class="upload btn btn-primary">Upload</button>
     
             </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
