<div class="container registerBody">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img src="../../../assets/img/RegisterTitle.png" class="title"/>
    </div>
    <div class="col-md-4">
      <p style="text-align:center;margin-top:60px;" (click)="returnToLogin()"><img src="../../../assets/img/Close-X.png" style="width:6%;"/></p> 
    </div>
  </div>
  <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6" style="padding-top: 100px">
     <p>Please wait while we review your account to join the Vuuple Network.<br>
        We will notify you by email once your account is accepted</p>
        <br>
        <br>
        <br>
        <p><img src="../../../assets/img/watchCloud.png" class=""/></p>
   </div>
   <div class="col-md-3"></div>
  </div>
</div>