.header {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
}
h1 {
	color: white;
}
.row {
	margin-top: 10px;
	color: white;
	margin: 0 auto;
	float: none;
}
button {
	/*background-color: Transparent;
	background-repeat: no-repeat;
	border-color: white;*/
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: white;
    background-color:#0077b5;
    border-radius: 10px;
    height: 40px;
    -webkit-appearance: button-bevel;
    line-height: initial;
	font-size: 20px;
	width: 25%;
	margin-left: 40%;
}
.error {
	color: red;
}
.login-body {
	background: url('../../../assets/img/Background-1-1024x594.png') ;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-ms-background-size: cover;
	background-size: cover;
	padding-top: 8%;
}
.form-control {
    display: block;
    width: 80%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
    margin-left: 20%;
}
.col-md-offset-3 {
    border: 2px solid;
    border-radius: 10PX;
    PADDING: 4%;
}
/*modal style*/
/*
.modal-container {
	margin: 60px auto;
	padding-top: 0px;
	position: relative;
	width: 160px;
  }
  .modal-container button {
	display: block;
	margin: 0 auto;
	color: #fff;
	width: 160px;
	height: 50px;
	line-height: 50px;
	background: #446cb3;
	font-size: 22px;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 5px 5px -5px #333;
	transition: background 0.3s ease-in;
  }
  .modal-container .modal-backdrop {
	height: 0;
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.2s ease-in;
  }
  .modal-container #modal-toggle {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	opacity: 0;
	cursor: pointer;
  }
  .modal-container #modal-toggle:hover ~ button {
	background: #1e6b82;
  }
  .modal-container #modal-toggle:checked {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	opacity: 0;
  }
  .modal-container #modal-toggle:checked ~ .modal-backdrop {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	pointer-events: none;
	opacity: 1;
  }
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
	max-width: 1000px;
	width: 50%;
	height: 70%;
	padding: 25px 30px;
	position: relative;
	left:300px;
	top: 12%;
	z-index: 999;
	pointer-events: auto;
	cursor: auto;
	background: #efefef;
	text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  }
  @media (max-width: 1000px) {
	.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
	  left: 0;
	}
  }
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .right {
	float: right !important;
  }
  .btn-success {
    color: #0077b5;
    background-color: #efefef;
	border-color: #0077b5;
	border-radius: 50px;
}
.hover:hover,
.hover:focus{
  background-color: #efefef !important ;
  color:#0077b5;
}
*/