<div class="login-body" style="margin-top:150px;">
	<h1 class="header">Login</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form [formGroup]="loginForm">
					<div class="form-group">
						<label>User Name </label>
						<input type="text" formControlName="username" class="form-control">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" formControlName="password">
						<label class="error">{{errorMessage}}</label>
					</div>
					<button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary">
						Login
					</button>
				</form>
			</div>
		</div>
	</div>

</div>
