<ngx-spinner
bdOpacity = 0.9
bdColor = "transparent"
size = "medium"
color = "#0077b5"
type = "ball-spin"
[fullScreen] = "false"
>
</ngx-spinner>
<div class="main">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6" >
        <h3 style="text-align:center;margin-bottom: 30px">Billing History</h3>
          <table style="margin: 0 auto;display: block;height: 200px !important;overflow-y: scroll">
            <thead>
              <tr>
                <th>Date</th>
                <th>Reedem Amount</th>
                <th>Fait Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of statment">
                <td style="border-right:1px solid #0077b5">
                  {{ item?.LastUpdateDTime | date: 'dd/MM/yyyy' }}
                </td>
                <td style="border-right:1px solid #0077b5">
                  {{ item?.tokenAmount }}
                </td>
                <td style="border-right:1px solid #0077b5">
                  {{ item?.depositAmount }}
                </td>
                <td >{{ item?.status }}</td>
              </tr>
              <tr *ngIf="statment.length === 0"style="height:100px" >
                <td style="border-right:1px solid #0077b5"></td>
                <td style="border-right:1px solid #0077b5"></td>
                <td style="border-right:1px solid #0077b5"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h3 style="text-align:center;margin-bottom: 30px">Current Plan</h3>
      <h3 style="text-align:center;color:#0077b5;margin-bottom: 20px;">
        {{ rentedStorage }} GB Allocated/Month
      </h3>
      <!-- <h5 class="form-control-checkbox">
                      <input
                      type="checkbox"
                      value="true"
                      />
                      Renew each month
                  </h5> -->
      <h5 style="text-align:center;margin-bottom: 10px;">
        Ends on: {{ cuurentUser?.renewalDate | date: 'dd/MM/yyyy'  }}
      </h5>
          <table style="margin: 0 auto;">
            <tr>
              <th style="border-right:1px solid #0077b5; color:#0077b5 ">
                Status :
              </th>
              <td >
                {{cuurentUser?.status}}
              </td>
            </tr>
            <tr>
              <th style="border-right:1px solid #0077b5; color: #0077b5">
                Membership :
              </th>
              <td>
                Lender
              </td>
            </tr>
          </table>
          <button
          type="submit"
          class="btn btn-primary"
          style="margin-top: 15px !important"
          disabled
          >
          Add Bank Account
         </button>
    </div>
  </div>
</div>
