<div class="container registerBody">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img
        src="../../../assets/img/Renter(2).png"
        class="title"
      />
    </div>
    <div class="col-md-4">
      <p style="text-align:center;margin-top:60px;cursor: pointer;" (click)="returnToLogin()">
        <img src="../../../assets/img/Close-X.png" style="width:6%;" />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form [formGroup]="renterRegisterForm" style="padding-top:50px">
        <div class="form-group">
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
          />
          <label *ngIf=" f.email.errors && f.email.errors.email" class="error" style="margin-left: 50px;">Please enter a valid email.</label>
        </div>
        <div class="form-group">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          />
          <label *ngIf="f.password.errors && f.password.errors.minlength" class="error" style="margin-left: 50px;">Password must be at least 7 characters</label>
        </div>
        <div class="form-group">
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
          />
          <label *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.mustMatch" class="error" style="margin-left: 40px;">Passwords must match</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="staticIP"
            class="form-control"
            placeholder="Static IP"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="ethereumAddress"
            class="form-control"
            placeholder="Ethereum Address"
          />
        </div>
        <!-- <div class="form-group">
          <input
            type="text"
            formControlName="bankAccount"
            class="form-control"
            placeholder="Bank Account"
          />
        </div> -->
        <!-- <div class="form-group">
                    <input
                      type="text"
                      formControlName="enode"
                      class="form-control"
                      placeholder="Enode Address"
                    />
                  </div> -->
        <div class="form-group checkbox">
          <label class="form-control-checkbox">
            <input type="checkbox" value="true" formControlName="termService" />
             I agree to the Terms of Service
          </label>
        </div>
        <div class="form-group checkbox">
          <label class="form-control-checkbox">
            <input
              type="checkbox"
              value="true"
              formControlName="privacyPolicy"
            />
             I agree to the Privacy Policy
          </label>
        </div>
        <button
          type="submit"
          [disabled]="!renterRegisterForm.valid"
          (click)="renterRegister()"
          class="btn btn-primary"
        >
         <img *ngIf="Loading" src="../../../assets/img/loading-white.gif" style="width:15px"/>
          Sign Up
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <label class="error">{{ errorMessage }}</label>
    </div>
  </div>
</div>
