<div class="main">
  <h1>Allocate Storage</h1>
  <div class="fix"></div>
  <p>Payment to Lenders : 0.02 VUUPLE/GB/Month</p>
  <div class="fix"></div>
  <p>
    How much storage would you like to allocate to the vuuple network?
  </p>
  <div class="fix"></div>
<ngx-spinner
bdOpacity = 0.9
bdColor = "transparent"
size = "medium"
color = "#0077b5"
type = "ball-spin"
[fullScreen] = "false"
>
</ngx-spinner>
  
  <div class="row">
    <!-- <div class="col-md-3"></div> -->
    <form [formGroup]="myForm" style="margin: '0 auto';">
      <!-- <div class="col-md-8"> -->
        <div class="row" style="margin-left: 20px;">
        <div class="col-md-6">
          <p style="font-size:25px;color:#0077b5;text-align: right;margin-right: 50px;">GigaByte</p>
          <div class="block" style="float: right;">
            <input type="text" formControlName="storage"/>
            <label>GB &nbsp;&nbsp;&nbsp;&nbsp;:</label>
          </div>
        </div>

        <!-- <div class="col-md-1">
          <p style="color:#0077b5;font-size: 23px"><br />:</p>
        </div> -->
        <div class="col-md-6">
          <p style="font-size:25px;color:#0077b5;text-align: left;cursor: not-allowed;">Estimated</p>
          <div class="block" style="float: left;">
            &nbsp;
            <input type="text" disabled value="{{ node.rentedStorage * 0.02 }}" style="width:120px" />
            <label style="font-size: 15px;text-align: center;"><br>&nbsp;&nbsp;&nbsp;VUUPLE/Month</label>
          </div>
        </div>
      </div>
      <div class="fix"></div>
      <div class="row" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <button
          class="btn btn-primary"
          [disabled]="!canRenew"
          (click)="renewAndReallocate()"
        >
          Allocate storage
        </button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </form>

    <!-- <div class="col-md-1"></div> -->
  </div>

  <div class="fix"></div>
  <p class="pNote">
    *Note: VUUPLE is paid at the end of the month, if the system remains in good<br>
    standing. VUUPLE is only paid for GB stored on your device.
  </p>
</div>
