<div class="main">
  <h1>Allocate Storage</h1>
  <div class="fix"></div>
  <p>Payment to Lenders : 0.02 VUUPLE/GB/Month</p>
  <div class="fix"></div>
  <p>
    How much storage would you like to <br />allocate to the vuuple network?
  </p>
  <div class="fix"></div>
  <div class="row">
    <div class="col-md-3"></div>
    <form [formGroup]="myForm">
      <div class="col-md-8">
        <div class="col-md-3">
          <p style="font-size:18px;color:#0077b5;">GigaByte</p>
          <div class="block">
            <input type="text" formControlName="storage" />
            <label>GB</label>
          </div>
        </div>

        <div class="col-md-1">
          <p style="color:#0077b5;font-size: 23px"><br />:</p>
        </div>
        <div class="col-md-6">
          <p style="font-size:18px;color:#0077b5;">Estimated</p>
          <div class="block">
            <input type="text" disabled value="{{ node.rentedStorage * 2 }}" />
            <label style="font-size: 15px">VUUPLE/Month</label>
          </div>
        </div>
      </div>
      <div class="row col-md-offset-5">
        <button
          class="btn btn-primary"
          [disabled]="!canRenew"
          (click)="renewAndReallocate()"
        >
          Allocate storage
        </button>
      </div>
    </form>

    <div class="col-md-1"></div>
  </div>

  <div class="fix"></div>
  <p class="pNote">
    *Note: VUUPLE is paid at the end of the month, if the system remains in good
    standing. VUUPLE is only paid for GB stored on your devic
  </p>
</div>
