.main {
    padding: 5% 5% 5% 5%;
  }
  
  .chartjs-size-monitor {
    direction: rtl !important;
  }
  
  p {
    text-align: center;
    color: #29ABE2;
    margin-bottom: 3%;
    font-size: 18px;
  }
  
  .chart {
    padding-top: 5%;
  }