<div class="main">
  <h1>Redeem Vuuple</h1>
  <div class="fix" style="height: 15px;"></div>
  <!-- <p>Rate : {{ rate }}</p> -->
  <p style="font-size:25px">
   1 Vuuple = 1 USD 

  </p>
  <div class="fix"></div>
  <p style="color:#0077b5;">Tokens Available for Redemption:</p>
  <p>{{ avialableTokens }}</p>

  <div class="fix"></div>
  <p>How many tokens would you like to redeem?</p>
  <div class="fix"></div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <div class="col-md-3">
        <p style="font-size:18px;color:#0077b5;">Vuuple</p>
        <div class="block" [formGroup]="redForm">
          <input type="number" formControlName="tokensToRed"  />
        </div>
      </div>
      <div class="col-md-2">
        <p style="color:#29ABE2;font-size: 23px"><br />:</p>
      </div>
      <div class="col-md-3">
        <p style="font-size:18px;color:#0077b5;">USD</p>
        <div class="block">
          <input
            type="number"
            disabled
            value="{{ rate * redForm.value.tokensToRed }}"
            style="padding-left: 10px;"
          />
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <input
    type="text"
    formControlName="bankTxId"
    class="form-control txbox"
    placeholder="Enter Password"
  />
  </div>
  <div class="fix"></div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="redeemTokens()"
    [disabled]="avialableTokens <= 0"
  >
    Redeem
  </button>
  <div class="fix"></div>
  <p class="pNote">
    *Note: There is a 1.00% USD Fee for redemption. <br/>
     Min Fee: $0.01<br/>
     Max Fee: $20.00

  </p>
</div>
