<div class="main">
  <h1>Redeem Vuuple</h1>
  <div class="fix" style="height: 15px;"></div>
  <!-- <p>Rate : {{ rate }}</p> -->
  <p style="font-size:25px">
   1 Vuuple = 1 USD 

  </p>
  <div class="fix"></div>
  <p style="color:#0077b5;">Tokens Available for Redemption:</p>
  <p>{{ avialableTokens }}</p>

  <div class="fix"></div>
  <p>How many tokens would you like to redeem?</p>
  <div class="fix"></div>
  <form [formGroup]="redForm">
  <div class="row" style="margin-left: 20px;">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p style="font-size:25px;color:#0077b5;text-align: right;margin-right: 55px;">Vuuple</p>
        <div class="block" style="float: right;" >
          <input type="number" formControlName="tokensToRed"  />
          <label>&nbsp;&nbsp;&nbsp;:</label>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p style="font-size:25px;color:#0077b5;text-align: left;margin-left: 10px;" >&nbsp;&nbsp;&nbsp;USD</p>
        <div class="block" style="float: left;">
          <input
            type="number"
            disabled
            style="cursor: not-allowed;"
            value="{{ rate * redForm.value.tokensToRed }}"
          />
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4"></div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <input
      type="password"
      formControlName = "pwd"
      class="form-control txbox"
      placeholder="Enter Password"
      />
      <div class="fix"></div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="redeemTokens()"
        [disabled]="avialableTokens <= 0"
      >
        Redeem
      </button>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4"></div>
  </div>
  </form>
  <div class="fix"></div>
  <p class="pNote">
    *Note: There is a 1.00% USD Fee for redemption. <br/>
     Min Fee: $0.01<br/>
     Max Fee: $20.00

  </p>
</div>
