.main{
    padding: 5%;
}
h1{
    color:#0077b5;
    text-align: center;
    margin-bottom: 25px;
}
label{
    color:#0077b5;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    display: inline;
    padding: 2px;
}
P{
    color:#29ABE2; 
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
input{
    width: 120px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius:5px;
    background-color: #29ABE2;
    color:white;
    border:1px solid #29ABE2;
    height: 30px;
    padding: 5px;
}
.txbox {
    width: 43%;
    border-radius: 5px;
    background-color: #29abe2;
    color: white;
    border: 1px solid #29abe2;
    height: 35px;
    padding: 5px;
    margin: 0 auto;
    text-align : left !important;
    padding-left: 10px;
  }
.fix{
  height: 0px;/*25px*/
}

.pNote{
    margin-top: 25px;
    font-size: 14px;
    font-family: serif;
    font-weight: bold;
}
button {
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: white;
    background-color:#0077b5;
    border-radius: 10px;
    height: 40px;
    -webkit-appearance: button-bevel;
    line-height: initial;
	font-size: 20px;
	width: 25%;
	margin-left: 35%;
	margin-top: 20px
}
::-webkit-input-placeholder { /* Edge */
    color: white;
    text-align: left;
    padding-left: 10px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    text-align: left;
    padding-left: 10px;
  }
  
  ::placeholder {
    color: white;
    text-align: left;
    padding-left: 10px;
  }