
h2{
    color:#0077b5;
    margin-bottom: 2%;
  }
.main{
    padding:5% 5% 5% 5%;
}
.image{
    background-image: url('../../../../assets/img/Cloud-TokensRedeemed.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 85% !important;
    height: 110px!important;
    -webkit-appearance: button-bevel;
    line-height: initial;
    background-color: white;
    font-size: 18px;
    color:white;
    text-align: center;
}
