<div class="main">
  <div class="col-md-6">
    <h2>Purchase Vuuple</h2>
    <!-- <p style="font-size:18px;color:#0077b5;">Rate : {{ rate }}</p> -->
    <div class="fix"></div>
    <div class="block1">
      <div class="fix"></div>
      <p style="font-size:25px">
        <!-- <img src="../../../../assets/img/TokenDollar.png" style="width:10%" /> -->
        1 VUUPLE = 1 USD
        <!-- <img src="../../../../assets/img/Dollar.png" style="width:15%" /> -->
      </p>
      <div class="fix"></div>
      <div class="row">
        <form [formGroup]="myForm">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;text-align: left;">USD</p>
            <div class="block">
              <input formControlName="amount" type="text" />
            </div>
          </div>
          <div class="col-md-2">
            <p style="color:#29ABE2;font-size: 23px"><br />:</p>
          </div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;text-align: left;">Vuuple</p>
            <div class="block">
              <input
                type="text"
                disabled
                value="{{ rate * myForm.value.amount }}"
                style="cursor: not-allowed;"
              />
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="fix"></div>
          <!-- we need to edit this function -->
          <input
            type="password"
            formControlName="pwd"
            class="form-control txbox"
            placeholder="Enter Password"
          />
        </form>
      </div>

      <button
        (click)="requestPurchase()"
        [disabled]="!myForm.valid"
        class="btn btn-primary"
      >
        Purchase
      </button>
      <div class="fix"></div>
      <p class="pNote">
        *Note: VUUPLE will be automatically transferred to your wallet <br/> upon approval.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Buy Storage</h2>
    <div class="fix" style="height: 15px !important;"></div>

    <div class="block">
      <p style="font-size:15px">
       <br/>
       Storage is bought on a monthly basis.
      </p>
      <P style="color:#0077b5;">Price: 0.05 VUUPLE/GB/MONTH</P>
      <div class="row">
        <form [formGroup]="storForm">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;text-align: left;">Gigabytes</p>
            <div class="block">
              <input type="text" formControlName="amount" />
              <!-- <label>GB</label> -->
            </div>
          </div>
          <div class="col-md-2">
            <p style="color:#29ABE2;font-size: 23px"><br />:</p>
          </div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;text-align: left;">Vuuple</p>
            <div class="block">
              <input
                type="text"
                disabled
                value="{{ 0.05 * storForm.value.amount }}"
                style="cursor: not-allowed;"
              />
            </div>
          </div>
          <div class="col-md-1"></div>
          <input
          type="password"
          formControlName="pwd"
          class="form-control txbox"
          placeholder="Enter Password"
        />
        </form>
      </div>
      <button
        type="submit"
        (click)="renew()"
        class="btn btn-primary"
        [disabled]="!(avialableTokens >= 4 && renewalDate <= currentDate)"
        style="margin-top: 15px !important;"
      >
        Buy
      </button>
      <!-- <label class="error" *ngIf="avialableTokens <= 4"
        >you balance is low</label
      > -->
      <label class="error" *ngIf="renewalDate >= currentDate"
        >You have not reached the renewal date</label
      >
      <label class="error" *ngIf="renewalDate == 0"
        >you need to
        <a [routerLink]="['/pages/renter/account']">
          <span>complete the subscription</span>
        </a>
      </label>

      <!-- <div class="fix"></div> -->
      <p class="pNote">
        *Note:You will only be charged for the GB’s  that were purchased <br>at the start of each monthly contract.
      </p>
    </div>
  </div>
</div>
