<div class="main">
  <div class="col-md-6">
    <h2>Purchase Vuuple</h2>
    <p style="font-size:18px;color:#0077b5;">Rate : {{ rate }}</p>

    <div class="fix"></div>
    <div class="block1">
      <div class="fix"></div>
      <p style="font-size:22px">
        <img src="../../../../assets/img/TokenDollar.png" style="width:10%" />
        Vuuple = USD
        <img src="../../../../assets/img/Dollar.png" style="width:15%" />
      </p>
      <div class="fix" style="height: 45px;"></div>
      <div class="row">
        <form [formGroup]="myForm">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;">Vuuple</p>
            <div class="block">
              <input
                type="text"
                disabled
                value="{{ rate * myForm.value.amount }}"
              />
            </div>
          </div>
          <div class="col-md-2">
            <p style="color:#29ABE2;font-size: 23px"><br />:</p>
          </div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;">USD</p>
            <div class="block">
              <input formControlName="amount" type="text" />
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="fix"></div>
          <input
            type="text"
            formControlName="bankTxId"
            class="form-control txbox"
            placeholder="Bank transaction Id"
          />
        </form>
      </div>

      <button
        (click)="requestPurchase()"
        [disabled]="!myForm.valid"
        class="btn btn-primary"
      >
        Purchase
      </button>
      <div class="fix"></div>
      <p class="pNote">
        *Note: VUUPLE will be automatically transfered to your wallet. Any
        invalid data will lead to reject your request
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Buy Storage</h2>
    <div class="fix"></div>
    <div class="block">
      <p style="font-size:15px">
        Storage is bought on a monthly basis<br />
        plan automatically renews
      </p>
      <P style="color:#0077b5;">Price: 0.10 VUUPLE/GB/Month</P>
      <div class="fix"></div>
      <div class="row">
        <form [formGroup]="storForm">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;">Gigabytes</p>
            <div class="block">
              <input type="text" style="width: 60px" formControlName="amount" />
              <!-- <label>GB</label> -->
            </div>
          </div>
          <div class="col-md-2">
            <p style="color:#29ABE2;font-size: 23px"><br />:</p>
          </div>
          <div class="col-md-4">
            <p style="font-size:18px;color:#0077b5;">Vuuple</p>
            <div class="block">
              <input
                type="text"
                disabled
                value="{{ 4 * storForm.value.amount }}"
              />
            </div>
          </div>
          <div class="col-md-1"></div>
        </form>
      </div>
      <div class="fix"></div>
      <button
        type="submit"
        (click)="renew()"
        class="btn btn-primary"
        [disabled]="!(avialableTokens >= 4 && renewalDate <= currentDate)"
      >
        Buy
      </button>
      <label class="error" *ngIf="avialableTokens <= 4"
        >you balance is low</label
      >
      <label class="error" *ngIf="renewalDate >= currentDate"
        >You have not reached the renewal date</label
      >
      <label class="error" *ngIf="renewalDate == 0"
        >you need to
        <a [routerLink]="['/pages/renter/account']">
          <span>complete the subscription</span>
        </a>
      </label>

      <div class="fix"></div>
      <p class="pNote">
        *Note: You can cancel your plan at any time before the next month
        starts. You will not be charged for any data not used during a monthly
        contrac
      </p>
    </div>
  </div>
</div>
