<ngx-spinner
bdOpacity = 0.9
bdColor = "transparent"
size = "medium"
color = "#0077b5"
type = "ball-spin"
[fullScreen] = "false"
>
</ngx-spinner>
<div class="row main">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h2 class="title">storage allocation</h2>
    <div class="row"></div>
    <div class="block">
    <div class="row">
      <!-- <label>Current Month: {{ node?.renewalDate | date: 'dd/MM/yyyy'}}</label> -->
      <label style="font-size: 24px;">Hours Hosted: &nbsp;{{ node?.renewalhours }} Hours (0 Vuuple) </label>
      <!-- should be based on this.node.renewalDate value compared with Date.now() -->
    </div>
    <div class="row" >
      <label style="font-size: 24px;">Amount Allocated: {{ node?.rentedStorage }} GB</label>
    </div>
    <div class="row" >
      <label style="font-size: 24px;">Vuuple Earned (LifeTime): {{ node?.balance }}</label>
    </div>
    <div class="row" >
      <p>
        *All contracts are engaged on a monthly basis. A lender cannot decrease <br>the amount of storage allocated until the contract expires.
      </p>
      <p>
        *Note: Lenders are paid USD 0.02/GB/Month for hosting storage.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        (0.0000278 VUUPLE per hour hosting 1 GB)
      </p>
    </div>
    <div class="row">
      <button
      class="btn btn-primary"
      (click)="allocateStorage()"
      >
      Allocate storage
      </button>
    </div>
   </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h2 class="title">System checks</h2>
    <div class="row"></div>
    <div class="block1">
      <div class="row">
        <label style="font-size: 24px;">CURRENT mONTHLY POINTS: {{ node?.currentMonthlyPoints}}</label>
      </div>
      <div class="row" >
        <label>online checks: {{ node?.reputationPoints }} Points ({{ node?.reputationPoints/2}} online checks) 
          <br>
          <label style="font-size: small;">
           (2 ponits per check)
          </label>
        </label>
      </div>
      <div class="row" >
        <label>storage allocation: {{ node?.rentedStorage }} Points ({{ node?.rentedStorage/0.10 }} GB) </label>
        <br>
          <label style="font-size: small;">
            (0.10 POINTS PER gb)
          </label>
      </div>
      <div class="row" style="text-align:center ; margin-top: 20px;">
        <h2 class="title">Total Points : {{ node?.passingPercentage }}</h2>
        <label>
          Current Standing : {{ node?.reputationPoints }}
        </label>
        <br>
          <label style="font-size: small; text-align: center;">
            (AMONG ALL LENDERS)
          </label>
      </div>
     </div>
  </div>
</div>
