<div class="main">
    <h2 style="padding-bottom: 40px;">Credentials</h2>
  <div class="col-md-6" style="padding-top: 20px;">
    <div class="block1">
        <form [formGroup]="EditForm" style="padding-right: 20px;padding-top: 20px;">
            <div class="form-group row">
              <label for="Name" class="col-md-5">Username:</label>
              <div class="col-md-7">
                <input
                  type="text"
                  id="Name"
                  class="form-control"
                  formControlName="name"
                />
                <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div> -->
              </div>
            </div>
    
            <div class="form-group row">
              <label for="emails" class="col-md-5">Email:</label>
              <div class="col-md-7">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                />
                <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div> -->
              </div>
            </div>
    
            <div class="form-group row">
              <label for="password" class="col-md-5">Password:</label>
              <div class="col-md-7">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                />
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="cpassword" class="col-md-5">Confirm Password:</label>
                <div class="col-md-7">
                  <input
                    type="password"
                    id="cpassword"
                    class="form-control"
                    formControlName="cpassword"
                  />
                  <div
                    *ngIf="submitted && f.cpassword.errors"
                    class="invalid-feedback"
                  >           
                  <div *ngIf="f.cpassword.errors && f.cpassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>
            <div class="form-group row">
              <button
                class="Editbutton"
                type="submit"
                class="btn btn-primary"
                [disabled] = "!EditForm.valid"
                (click)="EditFunction()"
              >
               <img *ngIf="loading" src="../../../assets/img/loading-white.gif" style="width:15px"/>
                Save
              </button>
            </div>
        </form>
    </div>
  </div>
  <div class="col-md-6"style="padding-bottom:40px;padding-top:20px">
    <div class="block">
      <div class="row" style="padding-left: 25px; padding-bottom: 20px; border-bottom: 1px dashed #29abe2;">
          <app-raft-manage></app-raft-manage>
      </div>
      <div class="row">
         <app-activate-account></app-activate-account>
      </div>
    </div>
  </div>
</div>
