.main {
    padding: 5%;
    min-height: 500px;
  }
input{
    border: 1px solid #29ABE2;
    color : #0077b5 !important;
  }
label {
    color: #0077b5;
    vertical-align: middle;
    padding: 10px;
    font-size: 16px;
    line-height: 1.42857143;
    font-family: inherit;
    font-weight: 400;
  } 
h2 {
    color: #0077b5;
    text-align: center;
  } 
.form-group {
    margin-bottom: 0px;
  }
button {
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
      background-color:#0077b5;
      border-radius: 10px;
      height: 45px;
      -webkit-appearance: button-bevel;
      line-height: initial;
    font-size: 24px;
    width: 55%;
    margin-top: 20px;
   float: left;  
   margin-left: 20%;
   letter-spacing: 1px;
}
 
  .block1 {
    border-right: 1px solid #29abe2;
    min-height: 300px;
  }
  // .form-control {
  //   font-size: 16px !important;
  //   line-height: 18px !important;
  //   color: #0077b5 !important;
  //   box-shadow: none !important;
  //   outline: 0 !important;
  //   // padding: 16px 30px 15px;
  //   transition: all 0.3s ease !important;
  //   box-sizing: border-box !important;
  //   display: block !important;
  //   font-family: sans-serif;
  // }  
  .invalid-feedback{
    text-transform: capitalize !important;
    letter-spacing: 1px;
  }