<div class="row main">
  <div class="row">
    <form [formGroup]="myForm" class="col-md-12 col-xs-offset-2">
      <div class="row col-md-10 .form-group " style="left: 2%;margin-bottom: 10px">
        <input type="text" formControlName="raftId" class=" col-md-5 form-control"  />
        <button
          [disabled]="!myForm.valid"
          class="btn btn-primary col-md-4"
          (click)="editRaftId()"
        >
          Update Raft Id
        </button>
      </div>
    </form>
  </div>
</div>
