.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background-color: transparent;
    background-image: Url("assets/img/2560.png");
    background-size: cover;
    height: 30%;
    z-index: 5;
    border-bottom: none;
  }
  
  .navbar-header {
    margin-top: 4%;
  }
  
  .headerTitle {
    width: 35%;
    margin-left: 13%;
  }
  
  @media (min-width: 768px) {
    .navbar-brand {
      margin-left: 0;
    }
    .container-fluid > .navbar-header {
      margin-left: 3%;
    }
  }
  
  .headerIcon {
    width: 10%;
  }
  
  @media (min-width: 768px) {
    /*.navbar-right~.navbar-right {
        margin-right: 10%;
    }*/
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li {
      float: left;
      width: 150px;
    }
  }
  
  #navbar > ul {
    margin-top: -2%;
    margin-right: 10px;
  }
  
  img.header-image {
    width: 100%;
    height: 100%;
  }
  
  div {
    &.header-wrapper {
      position: relative;
      top: 0.5%;
      width: 90%;
    }
    &.header-contents {
      position: absolute;
      width: 100%;
      top: 0;
      color: #29ABE2;
      font-family: Cubano-Regular;
      font-size: 50px;
      text-align: center;
      vertical-align: middle;
      /*line-height: 100px;*/
    }
  }
  
  /*.sub-clouds{
    padding-top: 90px;
  }
  .sub-clouds li{
     margin-left: 90px;
  }*/
  
  .cloud-title {
    background-color: transparent;
    /* background-image: Url("../../../../assets/img/bigCloud.png"); */
    background-size: cover;
    width: 100%;
    /* margin-left: 13%; */
  }
  
  @media (min-width: 768px) {
    .navbar-right {
      float: right !important;
      margin-right: 0;
    }
  }
  
  #headerRow {
    margin: 0;
  }
  
  .image {
    background-image: url('assets/img/Cloud.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px !important;
    width: 65% !important;
    height: 60px !important;
    -webkit-appearance: button-bevel;
    line-height: initial;
  }
  
  .following {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: Cubano-Regular;
    color: #29ABE2;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
  }
  
  .followingContent {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: Cubano-Regular;
    color: #29ABE2;
    font-weight: bold;
  }
  
  .btn {
    background-color: transparent;
    color: white;
  }