<nav class="navbar navbar-fixed-top">
  <div class="container-fluid ">
    <div id="headerRow" class="row">
      <div class="col-md-3 col-lg-3" style="padding-top: 2%;">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"(click)="goToHome()">
            <img src="assets/img/Logo.png" />
          </a>
        </div>
      </div>
      <div class="col-md-9 col-lg-9">
        <div id="navbar" class=" row navbar-collapse collapse">
          <div class="col-md-7 col-lg-7" style="left: 5%;">
            <div class="header-wrapper">
              <img
                class="header-image"
                alt="cloud Background"
                src="assets/img/bigCloud.png"
              />
              <div class="header-contents">{{ userTitle }}</div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5" style="padding-top: 1%;">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <form class="navbar-form navbar-right">
                  <input
                    type="text"
                    class="form-control"
                    style="margin-right:5px;width: 250px;"
                    placeholder="Search..."
                  />
                  <!--<img  class="headerIcon" alt="" src="../../../../assets/img/Icon.png" />-->
                  <button 
                    class="btn"
                    data-toggle="tooltip" title="Profile!"
                   (click)="ShowProfile()">                 
                    <i class="fas fa-user-cog"></i>
                  </button>
                  <button class="btn" 
                  data-toggle="tooltip" title="Logout!"
                   (click)="Logout()">
                    <i class="fas fa-sign-out-alt"></i>
                  </button>
                </form>
              </div>
              <div class="col-md-12 col-lg-12" style="padding-top: 10%;">
                <ul *ngIf="!isadmin" class="nav navbar-nav navbar-right sub-clouds">
                 <li>
                   <div class="image" >
                       <p class="following">Following</p>
                       <p class="followingContent">15</p>
                    </div>
                 </li>
                 <li>
                  <div class="image">
                    <p class="following">Followers</p>
                    <p class="followingContent">15</p>
                  </div>
                 </li>
                </ul>
               <ul  *ngIf="isadmin" class="nav navbar-nav navbar-right sub-clouds">
                  <!-- <li>
                      <div class="image">
                          <a class="following" (click)="goTowallet()">wallet</a>
                        </div>
                  </li>-->
                  <li>
                    <div class="image">
                      <a class="following" (click)="goToNodes()">Nodes</a>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                      <a class="following" (click)="goToTokens()">vuuple<br/>Tokens</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
