<div class="main">
    <form>
      <h4>Report Issue</h4>
        <label>
          <p class="label-txt">Title</p>
          <input type="text" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <label>
            <p class="label-txt">Description</p>
            <textarea rows = "2" cols = "50" name = "description" class="input">      
             </textarea>          
             <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
        <label>
          <p class="label-txt">Email</p>
          <input type="text" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>     
        <button type="submit">submit</button> 
      </form>
</div>