<ngx-spinner
bdOpacity = 0.9
bdColor = "transparent"
size = "medium"
color = "#0077b5"
type = "ball-spin"
[fullScreen] = "false"
>
</ngx-spinner>
<div class="main">
  <h1 style="padding-bottom: 40px;text-align: center;">User Profile</h1>
<div class="col-md-6" style="padding-top: 20px; padding-bottom: 5%;">
  <div class="block1">
          <div class="form-group row">
            <label  class="col-md-4">Username:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Username" value="{{ node?.username }}" >
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-md-4">Email:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Email" value="{{ node?.email }}" >
            </div>
          </div>
  
          <div class="form-group row">
            <label  class="col-md-4">Eth Address:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Eth Address" value="{{ node?.ethAddress }}" >
            </div>
          </div>
          <div class="form-group row">
              <label  class="col-md-4">Category:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Category" value="{{ node?.category }}" >
              </div>
            </div>
          <div class="form-group row">
              <label  class="col-md-4">Status:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Status" value="{{ node?.status }}" >
              </div>
          </div>
          <div class="form-group row">
              <label  class="col-md-4">Ip Address:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Ip" value="{{ node?.ip }}" >
              </div>
          </div>
          <div class="form-group row">
              <label  class="col-md-4">Enode:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enod" value="{{ node?.enode }}" >
              </div>
          </div>
  </div>
</div>
<div class="col-md-6"style="padding-bottom:5%;padding-top: 20px; ">
  <div class="block">
    <div class="row" style="padding-left: 25px; padding-bottom: 20px;">
        <img
        alt="User Pic"
        for="files"
        class="btn"
        src={{Image}}
        id="profile-image1"
        style="width: 200px;height: 150px;margin: 0 auto;"
      />
      <input type="file" name="choosePhotoFile" id="choosePhotoFile" (change)="onFileChange($event)" style="margin-top:20px;border: none !important;">
    </div>
    <div class="row">
        <button class="btn"
              [routerLink]="['/pages/admin/escrow']"
              [queryParams]="{ id: node?._id }"
              style="color: white !important; text-decoration: none !important;font-size: 24px;letter-spacing: 1px;">
             View Escrows  
          </button>
          <button
            class="btn"
            *ngIf="
              (currentUser?.role == 'admin' ||
                currentUser?.role == 'superAdmin') &&
               node?.category == 'lender'
              "
              [routerLink]="['/pages/admin/addPoint']"
              [queryParams]="{ id: node?._id }"
              style="color: white !important; text-decoration: none !important;font-size: 24px;letter-spacing: 1px;"
              >Add Points
            >
          </button>
        <button
        type="button"
        class="btn btn-info btn-lg"
        (click)="reportIssue()"
        style="margin-top:15px !important;font-size: 24px;letter-spacing: 1px;"
      >
        Report Issue
      </button>
    </div>
  </div>
</div>
</div>
