<div class="main">
  <div class="panel panel-default">
      <div class="panel-heading">  <h4 >User Profile</h4></div>
      <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
                <div class="clearfix"></div>
                <div class="col-sm-5 col-xs-6 tital " >Username:</div><div class="col-sm-7 col-xs-6 ">{{username}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital " >Email:</div><div class="col-sm-7 col-xs-6 ">{{email}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital " > EthAddress:</div><div class="col-sm-7 col-xs-6 ">{{ethaddress}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital " > Category:</div><div class="col-sm-7 col-xs-6 ">{{category}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital " > Status:</div><div class="col-sm-7 col-xs-6 ">{{status}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital " >  Port:</div><div class="col-sm-7 col-xs-6 ">{{port}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital " >  Ip:</div><div class="col-sm-7 col-xs-6 ">{{ip}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div> 
                <div class="col-sm-5 col-xs-6 tital " >  Enod:</div><div class="col-sm-7 col-xs-6 ">{{enode}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
            </div>
          </div>
      </div>
  </div>
</div>