<div class="container registerBody">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img src="../../../assets/img/lenderTitle.png" class="title"/>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">
     <form [formGroup]="renterRegisterForm">
        <div class="form-group">
            <input
              type="text"
              formControlName="Username"
              class="form-control"
              placeholder="Username"
            />
          </div>
     </form>
   </div>
   <div class="col-md-4"></div>
  </div>
</div>