.main {
    padding: 5% 5% 5% 5%;
  }
  
  .infoButton {
    background-image: url('assets/img/Generalinfo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 200px;
    vertical-align: middle;
    margin-left: -35%;
    padding-top: 50%;
    font-size: 18px;
    padding-left: 5%;
  }
  
  .tokenButton {
    background-image: url('assets/img/Tokenscloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 200px;
    vertical-align: middle;
    margin-left: -35%;
    padding-top: 60%;
    font-size: 18px;
    padding-left: 5%;
  }
  
  ul > li > a:hover {
    background-color: white;
  }
  
  .active {
    background-image: url('assets/img/Generalinfocloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 200px;
    vertical-align: middle;
    margin-left: -35%;
    padding-top: 50%;
    font-size: 18px;
    padding-left: 5%;
    color: white;
  }