    <div class="row main">
      <div class="col-md-2">
        <ul class="nav">
            <li>
               <a (click)="toggle(true)"  id="generalInfo" class="infoButton"[class.active]="show">general Info</a>
            </li>
            <li>
                <a (click)="toggle(false)" id="token" class="tokenButton"[class.active]="!show" >Token</a>
             </li>
        </ul>
      </div>
      <div class="col-md-10" >
           <app-general-info *ngIf="show"></app-general-info>        
           <app-token *ngIf="!show"></app-token>      
      </div>
    </div>


