<div class="row">
  <div class="col-md-11 ">
    <div class="row main">
      <div class="col-md-3">
        <ul class="nav">
            <li>
               <a href="#generalinfo" class="infoButton ">general Info</a>
            </li>
            <li>
                <a href="#token" class="tokenButton active">Token</a>
             </li>
        </ul>
      </div>
      <div class="col-md-9 tab-content" >
        <div id="generalinfo">
           <app-general-info></app-general-info>        
        </div>
        <div id="token">
           <app-token ></app-token>      
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

