<div class="container registerBody">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img
        src = "../../../assets/img/forgotPass.png"
        class="title"
      />
    </div>
    <div class="col-md-4">
      <p style="text-align:center;margin-top:60px;cursor: pointer;" (click)="returnToLogin()">
        <img src="../../../assets/img/Close-X.png" style="width:6%;" />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form [formGroup]="forgotPass" style="padding-top:50px">
  
        <div class="form-group">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <button
          type="submit"
          [disabled]="!forgotPass.valid"
          (click)="forgotPassword()"
          class="btn btn-primary"
        >
          continue
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <label class="error">{{ errorMessage }}</label>
    </div>
  </div>
</div>

